@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#name {
    text-transform: uppercase;
    background-color: #A4A4A4;
    text-align: center;
    line-height: 60px;
    font-size: 120%;
    height: 60px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

#menu {
    background-color: #BFBFBF;
    color: #fff;
    height: 60px;
    width: 100%;
    float: right;
    border-bottom: 3px solid #C80000;
}

#nav {
    font-size: 100;
    letter-spacing: 5px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin: 20px 20px;
}

#nav a:hover {
    border-bottom: 3px solid #C80000;
}

.hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#home-screen-hero {
    height: 500px;
    width: 100%;
    background-image: url(../images/home-screen-hero.png);
    background-size: cover;
    background-position: center top;
}

#contact-us-hero {
    height: 500px;
    width: 100%;
    background-image: url(../images/contact-us-hero.jpg);
    background-size: cover;
    background-position: center;
}

#about-us-hero {
    height: 500px;
    width: 100%;
    background-image: url(../images/about-us-hero.jpg);
    background-size: cover;
    background-position: center;
}

.footer {
    background-color: #A4A4A4;
    height: 80px;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 3px solid #C80000;
}

.contact {
    list-style-type: none;
    color: #fff;
    display: inline-block;
    padding: 30px 0;
    font-size: 20px;
}

#phone {
    padding-right: 40px;
}

.social-networks {
    list-style-type: none;
    float: right;
    padding: 20px 10px;
}

.social-networks img {
    height: 40px;
    width: 40px;
}

#instagram {
    padding-right: 20px;
}

.home-info {
    padding: 5%;
}

.title {
    text-transform: capitalize;
    border-bottom: 3px solid #C80000;
    max-width: 40%;
}

.paragraph {
    padding-top: 10px;
    max-width: 40%;
    font-size: 150%;
    display: inline-block;
}

.home-images {
    height: 180px;
    width: 180px;
}

.content img {
    display: inline;
    margin-right: 10%;
    border: 3px solid #000;
    float: right;
}