@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#name {
    text-transform: uppercase;
    background-color: #A4A4A4;
    text-align: center;
    line-height: 60px;
    font-size: 120%;
    height: 60px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

#menu {
    background-color: #BFBFBF;
    color: #fff;
    height: 60px;
    width: 100%;
    float: right;
    border-bottom: 3px solid #C80000;
}

#nav {
    font-size: 100;
    letter-spacing: 5px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin: 20px 20px;
}

#nav a:hover {
    border-bottom: 3px solid #C80000;
}

.hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#home-screen-hero {
    height: 500px;
    width: 100%;
    background-image: url(../images/home-screen-hero.png);
    background-size: cover;
    background-position: center top;
}

#contact-us-hero {
    height: 500px;
    width: 100%;
    background-image: url(../images/contact-us-hero.jpg);
    background-size: cover;
    background-position: center;
}

#about-us-hero {
    height: 500px;
    width: 100%;
    background-image: url(../images/about-us-hero.jpg);
    background-size: cover;
    background-position: center;
}

.footer {
    margin-top: 50px;
    background-color: #A4A4A4;
    height: 80px;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 3px solid #C80000;
}

.contact {
    list-style-type: none;
    color: #fff;
    display: inline-block;
    padding: 30px 0;
    font-size: 20px;
}

#phone {
    padding-right: 40px;
}

.social-networks {
    list-style-type: none;
    float: right;
    padding: 20px 10px;
}

.social-networks img {
    height: 40px;
    width: 40px;
}

#instagram {
    padding-right: 20px;
}

.home-info {
    width: 80%;
    margin:50px 10%;
}

.what-we-do, .cheap-and-capable-gaming, .your-pc-your-way {
    max-width: 40%;
    font-size: 150%;
    display: inline-block;
    height: 400px;
    padding-top: 50px;
}

.what-we-do, .your-pc-your-way {
    margin-right: 10%;
}

.cheap-and-capable-gaming {
    text-align: right;
    margin-left: 10%;
}

.what-we-do h1, .cheap-and-capable-gaming h1, .your-pc-your-way h1 {
    text-transform: capitalize;
    border-bottom: 3px solid #C80000;
}

.float-right {
    max-width: 50%;
    padding-top: 50px;
    float: right;
    height: 300px;
}

.float-left {
    max-width: 50%;
    padding-top: 50px;
    float: left;
    height: 300px;
}

.image-box {
    width: 40%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}

.image-box img {
    width: auto;
    height: 100%;
}

.float-left div {
    margin-right: 5%;
}

.float-right div {
    margin-left: 5%;
    float: right;
}