@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#name {
    text-transform: uppercase;
    background-color: #303b50;
    text-align: center;
    line-height: 60px;
    font-size: 120%;
    height: 60px;
    width: 20%;
    float: left;
}

#menu {
    background-color: #99A7C2;
    color: #fff;
    height: 60px;
    width: 100%;
    float: right;
}

#nav {
    font-size: 100;
    letter-spacing: 5px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin: 20px 20px;
}

.hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#home-screen-hero {
    height: inherit;
    width: inherit;
    object-fit: cover;
    background: url(../images/home-screen-hero.png) no-repeat center center;
}
